body {
  font-family: "Roboto", sans-serif; 
  font-style: normal; 
  font-weight:500;
  height: 80vh;
  width: 221.5vh;
}
.heading h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal; 
    font-weight: 100; 
}
.navigation a{
  color: white;
  text-decoration: none;
 
}
.navigation a:hover{
   color: black;
}
#landscaping:hover{
  color: black;
  text-decoration: none;
}